<div class="container">
  <br>
  <div class="text-center">
    <div class="btn-group">
      <button type="button" [routerLink]="['/countries']" class="btn btn-primary">All countries</button>
      <button type="button" [routerLink]="['/countydetails']" class="btn btn-primary">Country Details</button>
      <button type="button" [routerLink]="['/insertcountry']" class="btn btn-primary">Insert Country</button>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>