.rankError {
    color     : red;
    font-size : 0.7rem;
    margin-top: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}