<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">Insert Country Details</h3>
            <br>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Country Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                        <div *ngIf="f.name.errors.pattern">Only characters Allowed</div>
                        <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters</div>
                        <div *ngIf="f.name.errors.maxlength">Name must be at maximum 20 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Country Rank</label>
                    <input type="number" (keyup)="checkImamgeRank($event)" formControlName="rank" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rank.errors }" />
                    <div *ngIf="submitted && f.rank.errors" class="invalid-feedback">
                        <div *ngIf="f.rank.errors.required">Rank is required</div>
                    </div>
                    <div *ngIf="rankExisted" class="rankError">{{rankExisted}}</div>
                </div>
                <div class="form-group">
                    <label>Country Flag</label>
                    <div class="custom-file">
                        <input type="file" accept=".jpg,.png" formControlName="image" (change)="selectImage($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" placeholder="your image" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">{{imageName}}</label>
                        <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                            <div *ngIf="f.image.errors.required">Image is required</div>
                        </div>
                        <div *ngIf="imageError" class="rankError">{{imageError}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Insert</button>
                </div>
                <div class="form-group">
                    <div class="row" *ngIf="successMsg">
                        <div class="col-12">
                            <p class="alert alert-success">
                                <strong>Country Inserted Successfully !!</strong>
                                <br>
                                Now You will be redirected to All Countries List
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>