<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">Country Rank</th>
            <th class="text-center" scope="col">Country Name</th>
            <th class="text-center" scope="col">Country Flag</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let data of countriesList; let i=index;'>
            <td class="text-center">{{data.rank}}</td>
            <td class="text-center">{{data.name}}</td>
            <td class="text-center"> <img class="imageFixed" src='{{serverLink}}{{data.flag}}' /> </td>
        </tr>
    </tbody>
</table>